 .Left-content-header {
     font-size: 2.5rem;
     font-weight: bold;
     margin-bottom: 50px;
 }

 .Left-content-text {
     font-size: 1.125rem;
     color: #444;
     margin-bottom: 50px;
     max-width: 500px;
 }

 .Left-content-button {
     background-color: #E83333;
     color: white;
     padding: 20px 45px;
     border-radius: 35px;
     border: none;
     font-size: 1.125rem;
     font-weight: 550;
     cursor: pointer;
 }

 .Blue-text {
     color: #104FA2;
     font-weight: bold;
 }

 .Welcome-page-img {
     width: 100%;
     max-width: 635px;
     height: auto;
 }

 .Welcome-page-main-content {
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     gap: 85.65px;
 }