.Welcome-page-footer {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 40px 60px;
}

.logo {
    height: 20px;
    width: 100px;
}

.Footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    padding: 0 80px;
}

.Footer-left {
    flex: 3;
    min-width: 400px;
}


.Left-text {
    font-size: 14px;
    color: #303030;
    margin-bottom: 20px;
}

.Support-section {
    font-size: 14px;
}

.Support-text {
    color: #303030;
    margin-bottom: 4px;
}

.Support-email {
    color: #E83333;
    font-weight: bold;
    cursor: pointer;
}

.Support-email:hover {
    color: #D12222;
}

.Footer-products,
.Footer-about-us {
    flex: 1;
    min-width: 180px;
}

.Products,
.About-us {
    font-size: 14px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 10px;
}

.Products-list,
.About-us-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #8F8F8F;
}

.Products-list li,
.About-us-list li {
    margin-bottom: 10px;
    cursor: pointer;
}

.Copyright {
    text-align: left;
    font-size: 13px;
    color: #8F8F8F;
    margin-top: 80px;
}

.Footer-link {
    text-decoration: none;
    color: #8F8F8F;
}

.Footer-link:hover {
    color: #8F8F8F;
}