.Offers {
    position: relative;
    padding: 40px 5vw;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.Offers-header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
}

.Offers-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.Offers-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
    max-width: 1150px;
}

.Offers-section-content {
    max-width: 500px;
    text-align: justify;
}

.Offers-section-header {
    font-size: 1.4rem;
    margin-bottom: 25px;
}

.Offers-section-text {
    font-size: 1rem;
    margin-bottom: 30px;
}

.Offers-section-button {
    background-color: transparent;
    font-size: 1.1rem;
    color: #E83333;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.Offers-section-button:hover {
    color: #cd2b2b;
}

.A-B-testing-img {
    max-width: 400px;
    height: auto;
    margin-right: 80px;
}

.Account-statistics-img {
    max-width: 460px;
    height: auto;
    margin-left: 40px;
}

.Competitor-tracking-img {
    max-width: 430px;
    height: auto;
    margin-right: 0px;
}

.Report-generation-img {
    max-width: 300px;
    height: auto;
}

.Sentiment-analysis-img {
    max-width: 380px;
    height: auto;
}

.Bubble {
    position: absolute;
    z-index: -1;
}

.First-bubble {
    top: 30px;
    right: 50px;
    width: 80px;
}

.Second-bubble {
    top: 150px;
    left: -100px;
    width: 350px;
}

.Third-bubble {
    top: 370px;
    right: -30px;
    width: 250px;
}

.Fourth-bubble {
    top: 780px;
    left: 50px;
    width: 100px;
}

.Fifth-bubble {
    top: 1100px;
    right: -50px;
    width: 250px;
}

.Sixth-bubble {
    top: 1250px;
    left: -100px;
    width: 400px;
}

.Seventh-bubble {
    top: 1900px;
    right: 80px;
    width: 150px;
}